:root{
    --keyboard-backscreen-color:#c7c7c701;

    --keyboard-background-color: whitesmoke;
    --keyboard-border-color: #00000009;
    --keyboard-font-color: black;
    --keyboard-font-hover-color: #FFFFFF;
   
    --keyboard-key-background-color: #FFFFFF;
    --keyboard-key-hover-color: #FFA50080;
    --keyboard-key-border-color: #00000050;

    --keyboard-key-aux-background-color: #FFA50080;
    --keyboard-key-aux-hover-color: #FFA500;

}

#keyboard-backscreen {
	width: 100vw;
	height: 100vh;
	background-color: var(--keyboard-backscreen-color);
	position: absolute;
	top: 0px;
	left: 0px;
    display: none;
    z-index: 9;
}

#keyboard{
    border-radius: 10px 10px 0px 0px;
    border:solid 1px var(--keyboard-border-color);
    background-color: var(--keyboard-background-color);
    position: fixed;
    left: 10%;
    bottom: 0px;
    width: 80%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    text-align: center;
    color: var(--keyboard-font-color);
    z-index: 10;
}

.key{
    border: solid 1px var(--keyboard-key-border-color);
    border-radius: 10px;
    margin: 2px;
    padding: 10px 0px 10px 0px;
    background-color: var(--keyboard-key-background-color);
    display: inline-block;
    font-weight: bolder;
}
.key:hover{
    background-color: var(--keyboard-key-hover-color);
    color: var(--keyboard-font-hover-color);
}

span[class*="key-aux"]{
    background-color: var(--keyboard-key-aux-background-color);
}

span[class*="key-aux"]:hover{
    background-color: var(--keyboard-key-aux-hover-color);
}

.key-aux-space{
    grid-column: 4 / 8;
}

.key-aux-smb{
    grid-column: 10;
}

.key-aux-shift{
    grid-column: 1 / 3;
}

.key-aux-backspace{
    grid-column: 9 / 11;
}

.key-status-on{
    display: initial;
}

.key-status-off{
    display: none;
}

@media screen and (max-width: 720px) {
    #keyboard{
        width: 100vw;
        left: 0;
        padding: 0px;
    }
    .key{
        margin: 1px;
    }
}

@media screen and (max-width: 280px) {
    #keyboard{
        font-size: 0.6em;
    }
    .key{
        margin: 0px;
    }
}

