body {

    padding: 0px;

    margin: 0px;

    width: auto;

    height: auto;

    box-sizing: border-box;

    background-color: #02171b;

    font-size: 16px;

    font-family: system-ui;

    word-wrap: break-word;

}

#jcontainer{
    width: 100%;
    box-sizing: border-box;

}

article {

    width: 100%;

    height: auto;

    color: black;

    box-sizing: border-box;

    padding: 5vh 10vw 5vh 10vw;

    background-color: #f9fbff;

}

#jname {

    color: #02171b;

    display: block;

    font-size: 4em;

    font-weight: bolder;

    text-shadow: 1px 1px 10px rgb(174, 174, 174);

    text-align: center;

}

#jjob {
    color: #02171b;

    display: block;

    font-size: 1.5em;

    text-align: center;

    font-weight: bolder;

    margin-bottom: 1vh;

    padding: 0px 30px;

}



#javatar {

    width: 30%;

    background-color: #dcdcdc24;

    border-radius: 100%;

    border: 1px solid black;

    box-shadow: 1px 1px 10px lightgrey;

    max-width: 100%;

}



.jskilltag {
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jskilltag:hover {
    background: linear-gradient(160deg, #ffffffe0, #bbcbc814, #62bacf1c, #1ddffb0d);
}

/* .jskilltag:hover>a {
    color: white;
} */

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

b{
    color: #02171b;
}

hr {
    border-color: #02171ba2;
    margin-block-start: 10px;
    margin-block-end: 10px;
}



footer {

    box-sizing: border-box;

    background-color: #060400;

    color: white;

    padding: 30px 10vw 30px 10vw;

}



.jsentence {

    margin-top: 30px;

    font-size: 2em;

    text-align: center;

    color: #2525258f;

    text-shadow: 1px 1px 13px #c0c0c0ad;

}



.jauthor {
    color: #02171b;

    font-size: 1.5em;

    text-align: center;

    font-weight: bolder;

    margin-top: 10px;

    margin-bottom: 30px;

}



#jservicepanel {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
}

.jservicetag {
    background: linear-gradient(160deg, #ffffffe0, #bbcbc814, #62bacf1c, #1ddffb0d);
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 1fr;
    box-sizing: border-box;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #2a2a2a04;
    border: 1px solid #80808029;
    transition: all 250ms ease-out;
    align-items: center;
    justify-items: center;
}

.jservicetag:hover {
    transform: scale3d(1.04, 1.04, 1);
    box-shadow: 2px 2px 10px 1px lightgrey;
    background: linear-gradient(160deg, #ffffffe0, #bbcbc806, #62b9cf00, #1dddfb00);
    border: 1px solid #02171b;
    box-sizing: border-box;
    border-radius: 8px;
}

.jservicetag:hover::after {
    content: '';
    width: 20px;
    background-color: #02171b;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}

.jservicetag>div {
    padding: 0px 20px;
    display: inline-block;
    margin-top: 3px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



#jexptable {

    border-collapse: separate;

    border-spacing: 0 3vh;

}



.jexpcol-1 {

    padding: 10px;

    width: 20%;

}



.jexpcol-2 {

    border-left: 1px solid black;

    padding-left: 10px;

    text-align: justify;

}



.jexprow {

    margin-top: 30px;

}

#avatar-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

#confnav{
    /* position: fixed; */
    /* padding: 10px 5px; */
    top: 0px;
    border-radius: 0px 0px 5px 0px;
    left: 0px;
    background-color: #060400;
    z-index: 10;
}

#confnav>button{
    background-color: transparent;
    background-size: cover;
    width: 28px;
    height: 28px;
    margin: 12px;
    border: none;
}

#btn-home{
    background-image: url('home.png');
}

#btn-dark-mode{
    background-image: url('dark_mode_white.png');
}

#btn-font-decrease{
    background-image: url('text_decrease.png');
}
#btn-font-increase{
    background-image: url('text_increase.png');
}


/* APPS CARDS */
.jappscontainer {
    width: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.japp {
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #00000022;
    background-color: transparent;
    box-shadow: 1px 1px 1px 1px #00000013;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 250ms linear;
}

.japp:hover {
    border: 1px solid #02171b;
    box-shadow: 1px 1px 10px 0px #02171b8d;
}

.jappimage{
    width: 100%;
    height: auto;
    padding: 5px 0px;
    background-color: #ffffff44;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.japptitle{
    margin-top: 10px;
    display: inline-block;
}

.jappdesc{
    color: #000000;
    font-style: oblique;
    filter: none;
}

/* HOVERS */
.hv-success{
    background-color: #21744663;
}

.hv-info{
    background-color: #2b579a63;
}

.hv-danger{
    background-color: #B7472B63;
}

.hv-warning{
    background-color: #ffc10763;
}

.hv-success:hover{
    background-color: #217446;
}

.hv-info:hover{
    background-color: #2b579a;
}

.hv-danger:hover{
    background-color: #B7472B;
}

.hv-warning:hover{
    background-color: #ddb119;
}

.hv-success{
    background-color: #21744663;
}

.hv-rainbow{
    transition: all 1s ease;
	background: linear-gradient(120deg, rgba(255, 0, 0, 0.5), rgba(255, 166, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 0, 255, 0.5), rgba(238, 130, 238, 0.5)) !important;
}

.hv-rainbow:hover{
	background: black !important;
}


div[class*="hv-"]:hover > a {
    transition: all 500ms ease;
    color: #FFFFFF !important;
}

div[class*="hv-"]:hover > p {
    transition: all 500ms ease;
    color: #FFFFFF !important;
}

div[class*="hv-"]:hover > .jappimage {
    transition: all 500ms ease;
    color: #FFFFFF !important;
}

@media screen and (max-width: 1250px) {

    #avatar-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #jservicepanel {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    /* APPS CARDS */
    .jappscontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {

    body {

        font-size: 16px;

    }

    article {

        padding: 5vh 5vw 5vh 5vw;

    }

    #javatar {

        width: 60%;

    }

    #jservicepanel {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

}



@media screen and (max-width: 480px) {

    body {

        font-size: 14px;

    }

    article {

        padding: 5vh 5vw 5vh 5vw;

    }

    #jservicepanel {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    /* APPS CARDS */
    .jappscontainer {
        grid-template-columns: repeat(1, 1fr);
    }

}



@media screen and (max-width: 320px) {

    body {

        font-size: 12px;

    }

    #jservicepanel {

        grid-template-columns: repeat(1, 1fr);

        grid-template-rows: auto;

    }

}



@media screen and (max-width: 280px) {

    body {

        font-size: 12px;

    }



    #jname {

        content: "Juan Leal";

    }

}


/* Estilos específicos para el artículo de blog */
.blog-header {
    text-align: center;
    margin-bottom: 5vh;
}

.blog-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #02171b;
    margin-bottom: 10px;
}

.blog-author {
    font-size: 1em;
    color: #555;
    font-style: italic;
}

.blog-content {
    line-height: 1.8;
    text-align: justify;
}

.blog-content h2, .blog-content h3 {
    color: #02171b;
    margin-top: 2em;
}

.blog-content p {
    margin-bottom: 1.5em;
}
