
body{
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/*----------- MENU BAR AND SIDE PANEL----------------*/

#menuBar {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: black;
	z-index: 1;
	transition: top 300ms linear;
	padding: 10px;
}

#menuName{
	color: darkcyan;
	vertical-align: middle;
	text-align: left;
	display: inline-block;
	margin-left: 5px;
	padding-left: 10px;
	border-left: 2px solid darkcyan;
	margin-right: 5px;
	padding-right: 10px;
	border-right: 2px solid darkcyan;
	animation: 1500ms infinite linearGradientText;
}

.menuImg{
	vertical-align: middle;
	display: inline-block;
	margin: 5px;
}

#menuPanel{
	padding-left: 20px;
	padding-right: 20px;
	background: linear-gradient(-190deg,black, rgba(0,0,0,0.9) 70%, rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.4), rgba(0,0,0,0.3));
	z-index: 1;
	position: fixed;
	transition: opacity 250ms linear;
	overflow: auto;
	width: 50%;
}

.menuPanelItem{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	color: white;
	border-bottom: 1px dashed lightcyan;
	border-radius: 2px;
	transition:border 200ms linear;
}

.menuPanelItem:hover{
	color: black;
	background: linear-gradient(to bottom,#008B8B,#2CA692);
}

/*---------- GENERAL LAYER -------------------*/

.layer { 
	position: relative;
	z-index: 0;
	display: none;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 30px;
}

.layerItem{
	width: 100%;
	text-align: justify;
	margin-top: 20px;
	font-weight: normal;
}

.layerTitle{
	font-size: 5em;
	font-style: normal;
	font-weight: bolder;
	word-wrap: normal;
	text-align: center;
	border-bottom: 2px solid darkcyan;
	clear: both;
	color: darkcyan;
}

.layerSubTitle{
	font-size: 3em;
	font-style: normal;
	font-weight: bolder;
	word-wrap: normal;
	text-align: left;
	border-bottom: 1px solid darkcyan;
	clear: both;
	color: darkcyan;
}

.layerImg{
	width: 46%;
	float: left;
	padding: 0vh 2vw 0vh 2vw;
}

.layerSkill{
	width: 14vw;
	height: 14vw;
	margin: 2vw 2vw 0vh 1vw;
	border-radius: 100%;
	transition: border-radius 300ms linear, background-color 500ms linear;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 1vw;
}

.layerSkill:hover{
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.05);
}

.layerSkillEsp{
	width: 14vw;
	height: auto;
	margin: 2vw 2vw 0vh 1vw;
	transition: border-radius 300ms linear, background-color 500ms linear;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 1vw;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.05);
	float: left;
	font-size: 0.8em;
}

.boldText{
	font-weight: bold;
	color: darkcyan;
}

.boldTextCenter{
	font-weight: bolder;
	color: darkcyan;
	text-align: center;
}

/*----------- HOME LAYER--------------------*/

#homeLayer{
	opacity: 0.8;
}

#homeLayerTitle{
	border: none;
	font-size: 3em;
	text-align: center;
	color: darkcyan;
}

#homeLayerImg{
	width: 30vw;
	height: 30vw;
	padding-left: 25vw;
}

#homeLayerText{
	text-align: center;
	font-weight: bolder;
	color: black;
	font-size: 0.85em;
}

/*-------------- CONTACT LAYER ------------------*/

#twitterFeed{
	border-color: darkcyan;
	border: 0px 0px 0px 1;
}

#contactMeLayerInfoBox{
	padding: 10px;
	min-height: 530px;
	background: linear-gradient(-20deg, white, lightcyan, darkcyan);
	background-size: 300% 100%;
	border-radius: 0px 0px 0px 0px;
	animation: gradient 3s ease-in infinite alternate;
	font-weight: bolder;
	color: darkcyan;
	text-align: center;
}

#contactMeLayerInfoBoxData{
	text-align: center;
	font-size: 1.2em;
	top: 100px;
	font-weight: bolder;
	position: relative;
}


/*------------ APP LAYER -------------------*/

#appLayerDownloadBtn{
	padding: 10px;
	width: 100%;
	display: block;
	background: linear-gradient(to right,#008B8B,#2CA692,#57C099,#83DBA0,#AEF5A6);
	border-radius: 20px;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.5em;
	text-align: center;
}

/*------------- DEVICE LAYER ---------------*/

.layerDeviceBar{
	border-radius: 20px;
	width: 100%;
	height: 30px;
	color: white;
	text-align: center;
	background-color: rgba(194, 197, 170, 0.9);
	transition: width 1s ease;
}

.layerDeviceLabel{
	font-weight: bolder;
	color: dimgray;
	text-align: center;
	width: 100%;
}

#deviceLayerStorageBar{
	background: linear-gradient(to right, darkgreen, green);
	width: 0px;
}


#deviceLayerMemoryBar{
	background: linear-gradient(to right, darkgreen, green);
	width: 0px;
}


/*--------------- QUERY --------------------*/

@keyframes gradient{
	0%{
		background-position: 0% 0%;
		border-radius: 40px;
		color: black;
	}
	50% {
		background-position: 50% 0%;
		border-radius: 20px;
		color: darkcyan;
	}
	100%{
		background-position: 100% 0%;
		border-radius: 0px;
		color: darkcyan;
	}
}

@keyframes linearGradientText{
	0% {color: darkcyan;}

	34% {color: lightcyan;}

	67% {color: whitesmoke;}
}

/* Dejar esto siempre de ultimo
 * Y mantener el orden. */
@media (max-width: 620px){
	.menuImg{
		display: none;
	}

	#menuBtn{
		display: initial;
	}

	#menuPanel{
		width: 100%;
		padding: 0px;
	}

	.menuPanelItem{
		border: none;
	}

	.layerImg{
		display: block;
		float: none;
		width: 100%;
		padding: 0px;
	}

	.layerTitle{
		font-size: 2.85em;
		text-align: center;
	}

	.layerSubTitle{
		font-size: 2em;
	}

	.layerSkill{
		width: 34vw;
		height: 34vw;
	}

	.layerSkillEsp{
		width: 34vw;
		height: auto;
	}

	#homeLayerImg{
		padding: 0px;
		width: 80vw;
		height: 80vw;
	}

	#contactMeLayerInfoBoxData{
		top: 0px;
	}

	.appLayerDescText{
		clear: left;
	}

}


@media (max-width: 360px){
	#menuName{
		display: none;
	}

	#menuBtn{
		display: initial;
	}

	.layerTitle{
		font-size: 2em;
	}

	.layerSubTitle{
		font-size: 1.5em;
	}

	#homeLayerImg {
		padding: 0px;
		width: 60vw;
		height: 60vw;
		margin-left: 10vw;
	}
}
/*--------------------------------*/

